/* line 25, ../sass/_animate.scss */
.delay-0 {
  animation-delay: 0ms;
  /* W3C and Opera */
  -moz-animation-delay: 0ms;
  /* Firefox */
  -webkit-animation-delay: 0ms;
}

/* line 25, ../sass/_animate.scss */
.delay-1 {
  animation-delay: 500ms;
  /* W3C and Opera */
  -moz-animation-delay: 500ms;
  /* Firefox */
  -webkit-animation-delay: 500ms;
}

/* line 25, ../sass/_animate.scss */
.delay-2 {
  animation-delay: 1000ms;
  /* W3C and Opera */
  -moz-animation-delay: 1000ms;
  /* Firefox */
  -webkit-animation-delay: 1000ms;
}

/* line 25, ../sass/_animate.scss */
.delay-3 {
  animation-delay: 1500ms;
  /* W3C and Opera */
  -moz-animation-delay: 1500ms;
  /* Firefox */
  -webkit-animation-delay: 1500ms;
}

/* line 25, ../sass/_animate.scss */
.delay-4 {
  animation-delay: 2000ms;
  /* W3C and Opera */
  -moz-animation-delay: 2000ms;
  /* Firefox */
  -webkit-animation-delay: 2000ms;
}

/* line 25, ../sass/_animate.scss */
.delay-5 {
  animation-delay: 2500ms;
  /* W3C and Opera */
  -moz-animation-delay: 2500ms;
  /* Firefox */
  -webkit-animation-delay: 2500ms;
}

/* line 25, ../sass/_animate.scss */
.delay-6 {
  animation-delay: 3000ms;
  /* W3C and Opera */
  -moz-animation-delay: 3000ms;
  /* Firefox */
  -webkit-animation-delay: 3000ms;
}

/* line 25, ../sass/_animate.scss */
.delay-7 {
  animation-delay: 3500ms;
  /* W3C and Opera */
  -moz-animation-delay: 3500ms;
  /* Firefox */
  -webkit-animation-delay: 3500ms;
}

/* line 25, ../sass/_animate.scss */
.delay-8 {
  animation-delay: 4000ms;
  /* W3C and Opera */
  -moz-animation-delay: 4000ms;
  /* Firefox */
  -webkit-animation-delay: 4000ms;
}

/* line 25, ../sass/_animate.scss */
.delay-9 {
  animation-delay: 4500ms;
  /* W3C and Opera */
  -moz-animation-delay: 4500ms;
  /* Firefox */
  -webkit-animation-delay: 4500ms;
}

/* line 25, ../sass/_animate.scss */
.delay-10 {
  animation-delay: 5000ms;
  /* W3C and Opera */
  -moz-animation-delay: 5000ms;
  /* Firefox */
  -webkit-animation-delay: 5000ms;
}

/* line 25, ../sass/_animate.scss */
.delay-11 {
  animation-delay: 5500ms;
  /* W3C and Opera */
  -moz-animation-delay: 5500ms;
  /* Firefox */
  -webkit-animation-delay: 5500ms;
}

/* line 25, ../sass/_animate.scss */
.delay-12 {
  animation-delay: 6000ms;
  /* W3C and Opera */
  -moz-animation-delay: 6000ms;
  /* Firefox */
  -webkit-animation-delay: 6000ms;
}

/* line 25, ../sass/_animate.scss */
.delay-13 {
  animation-delay: 6500ms;
  /* W3C and Opera */
  -moz-animation-delay: 6500ms;
  /* Firefox */
  -webkit-animation-delay: 6500ms;
}

/* line 25, ../sass/_animate.scss */
.delay-14 {
  animation-delay: 7000ms;
  /* W3C and Opera */
  -moz-animation-delay: 7000ms;
  /* Firefox */
  -webkit-animation-delay: 7000ms;
}

/* line 25, ../sass/_animate.scss */
.delay-15 {
  animation-delay: 7500ms;
  /* W3C and Opera */
  -moz-animation-delay: 7500ms;
  /* Firefox */
  -webkit-animation-delay: 7500ms;
}

/* line 25, ../sass/_animate.scss */
.delay-16 {
  animation-delay: 8000ms;
  /* W3C and Opera */
  -moz-animation-delay: 8000ms;
  /* Firefox */
  -webkit-animation-delay: 8000ms;
}

/* line 25, ../sass/_animate.scss */
.delay-17 {
  animation-delay: 8500ms;
  /* W3C and Opera */
  -moz-animation-delay: 8500ms;
  /* Firefox */
  -webkit-animation-delay: 8500ms;
}

/* line 25, ../sass/_animate.scss */
.delay-18 {
  animation-delay: 9000ms;
  /* W3C and Opera */
  -moz-animation-delay: 9000ms;
  /* Firefox */
  -webkit-animation-delay: 9000ms;
}

/* line 25, ../sass/_animate.scss */
.delay-19 {
  animation-delay: 9500ms;
  /* W3C and Opera */
  -moz-animation-delay: 9500ms;
  /* Firefox */
  -webkit-animation-delay: 9500ms;
}