body {
  font-family: 'Open Sans', sans-serif;
}

.img-prof {
  width: 200px;
  display: block;
  margin: 20px auto;
}

h1, h2, h3, h4 {
  font-family: 'Open Sans', sans-serif;
}

.icons {
  margin: 20px 0;
  text-align: center;
}
.icons i {
  margin: auto 10px;
}

.item {
  margin: 10px auto;
  min-height: 200px;
  border-bottom: 1px solid #dddddd;
}

/* Hide item-photo when on phones */
@media (max-width: 768px) {
  .item-photo {
    display: none;
  }

  .item h2 {
    text-align: center;
  }
}

.item-photo {
  float: right;
  margin-left: 20px;
}

.info {
  text-align: center;
  max-width: 300px;
  margin: 0 auto;
}

.code {
  font-family: 'Courier New', monospace;
}

#tabs {
  margin-top: 20px;
}

blockquote {
  border-left: none;
}

.fa-quote-left.pull-left {
  margin: 0 20px 40px 0 !important;
}

header {
  position: relative;
  display: table;
  width: 100%;
  height: 60%;
  background-size: cover;
  background: linear-gradient(120deg, #14204d 0, #3cc8f4 100%);

  text-align: center;
  color: #fff;
}

header h1 {
  text-shadow: 0 1px 6px #000;
}

header a {
  color: #FFF;
  transition: color ease 0.5s;
}

header a:hover {
  color: #57A3E8;
}

.container {
  max-width: 700px;
}

nav {
  width: 100%;
  border-bottom: 3px solid #eeeeee;
  padding: 10px;

  overflow: hidden;
}

nav ul {
  display: block;
  text-align: center;
  margin: 10px 0 !important;
  padding-left: 0;

  white-space: nowrap;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

nav li {
  list-style-type: none;
  display: inline-block;
  float: none;
  margin: 0 20px;

  font-size: 18px;
  font-weight: 600;
}

nav li.active a {
  color: #57A3E8;
}

nav a {
  color: #50585D;
  transition: color ease 0.3s;
}

nav a:hover {
  color: #57A3E8;
  text-decoration: none;
}

::-webkit-scrollbar {
  display: none;
}

#tabs {
  padding-left: 0;
}

#tabs li {
  float: none;
}

.item .fa {
  color: #B2B2B2;
}